<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Guess the secret number{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/style-game.css">
    </head>

    <body>
    {% block header %}
    {% endblock header %}
    {% block section %}
    {% endblock section %}
    {% block container %}
    {% endblock container %}
    {% block content %}
    {% endblock content %}
	<footer id="main-footer">
		<p>Copyright &copy; 2021 The Game - Secret number</p>
	</footer>
</body>
</html>